<header>

</header>

<section class="container">
    <article class="aboutme">
        <h1> Sobre mí </h1>
        <figure>
            <img src="assets/imgs/cursor_w.png" alt="Decoración">
        </figure>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Comunicóloga, Desarrolladora Front-End y con skills en Diseño UX/UI. Mi
            pasión por la tecnología y la
            programación me llevaron a dar un giro en mi carrera y enfocarme en la creación de soluciones web. <br> <br>

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mi experiencia previa me ha dado el enfoque para buscar crear interfaces
            intuitivas y atractivas para el
            usuario final. Creativa, detallista y autodidacta; adaptable al cambio y al trabajo efectivo en equipo.
            Siempre
            comprometida en seguir desarrollando habilidades y conocimientos en el mundo de la programación, y en
            ofrecer soluciones web de calidad que cumplan las necesidades de los clientes.
        </p>
    </article>
</section>

<section class="container2">
    <div class="tittle">
        <img src="assets/imgs/decorations/dec_proyects.png" alt="Decoración">
        <h1> Proyectos </h1>
    </div>

    <article class="proyect">
        
    </article>

</section>