@import /src/styles.sass

.container
    @include flex-center
    .aboutme
        width: 50%
        height: 370px
        border: 2px solid black
        border-radius: 25px
        margin-top: 150px
        margin-bottom: 150px
        h1
            @include flex-center
            font-family: $font-tittle
            font-size: 53px
            height: 80px
            background-color: $green
            margin: -2px
            border: 2px solid black
        img
            width: 80px
            height: 80px
            margin-left: 529px
            margin-top: -59px
        p
            font-family: $font-content
            margin: -18px 37px 37px

.tittle
    margin-top: 70px
    display: grid
    justify-content: right
    h1
        font-family: $font-tittle
        font-size: 55px
        margin-top: -133px
        text-align: center
        margin-right: 80px
    img
        width: 455px
        height: 200px
        margin-right: 80px

.proyect
    margin-top: 50px
    @include flex-center
    align-content: center
    img
        width: 400px
    .fgr-right
        margin-left: 80px
    .info
        font-family: $font-content
        width: 432px
        margin-left: 80px
        margin-top: 70px
        p
            margin-bottom: 30px
        .classicbtn
            @include btns

.cntainer
    display: grid
    margin-bottom: 137px
    height: 1377px
    .container-skills
        display: grid
        justify-self: center
        width: 1030px
        height: 800px
        margin-top: -204px

.tech
    margin-top: 70px
    display: grid
    justify-content: right
    margin-right: 66px
    margin-bottom: 50px
    img
        width: 440px
    h1
        font-family: $font-tittle
        font-size: 55px
        margin-top: -233px
        text-align: center
        margin-right: 20px

.tech-skills
    display: flex
    justify-content: space-around
    img
        width: 150px

.footer
    display: grid
    margin-left: -8px
    margin-right: -8px
    margin-bottom: -8px
    height: 363px
    background-color: #C3D944
    .cntainer-footer
        @include flex-center
        justify-self: center
        width: 950px
        header
            font-family: $font-tittle
            font-size: 30px
            width: 500px
            letter-spacing: 3px
            line-height: 70px
            img
                width: 142px
                margin-bottom: -134px
                margin-left: 222px
        .vertical-line
            width: 3px
            background-color: black
            height: 190px
            margin-top: 95px
            margin-right: 20px
        article
            font-family: $font-content
            margin-top: 101px
            margin-left: 47px
            line-height: 10px
            .cntainer-btns
                margin-top: 30px
                button
                    @include btns-footer
    #lynd
        font-family: $font-content
        text-align: center
        font-size: 10px
        margin-top: 35px
