@import /src/styles.sass

.container
    @include flex-center
    .aboutme
        width: 50%
        height: 370px
        border: 2px solid black
        border-radius: 25px
        h1
            @include flex-center
            font-family: $font-tittle
            font-size: 53px
            height: 80px
            background-color: $green
            margin: -2px
            border: 2px solid black
        img
            width: 80px
            height: 80px
            margin-left: 529px
            margin-top: -59px
        p
            font-family: $font-content
            margin: -18px 37px 37px
