<header>

</header>

<section class="container">
    <article class="aboutme">
        <h1> Sobre mí </h1>
        <figure>
            <img src="assets/imgs/cursor_w.png" alt="Decoración">
        </figure>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Comunicóloga, Desarrolladora Front-End y con skills en Diseño UX/UI. Mi
            pasión por la tecnología y la
            programación me llevaron a dar un giro en mi carrera y enfocarme en la creación de soluciones web. <br> <br>

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mi experiencia previa me ha dado el enfoque para buscar crear interfaces
            intuitivas y atractivas para el
            usuario final. Creativa, detallista y autodidacta; adaptable al cambio y al trabajo efectivo en equipo.
            Siempre
            comprometida en seguir desarrollando habilidades y conocimientos en el mundo de la programación, y en
            ofrecer soluciones web de calidad que cumplan las necesidades de los clientes.
        </p>
    </article>
</section>

<section class="container2">
    <header class="tittle">
        <img src="assets/imgs/decorations/dec_proyects.png" alt="Decoración">
        <h1> Proyectos </h1>
    </header>

    <article class="proyect">
        <figure>
            <img src="assets/imgs/burguer_queen.png" alt="Proyecto Burguer Queen">
        </figure>
        <div class="info">
            <h2> Burguer Queen </h2>
            <hr>
            <p>
                Aplicación SPA diseñada para tablets,
                que se encarga de la administración de una
                hamburguesería llamada "Burguer Queen".
                Está desarrollado con Angular, consumiendo
                una API, y diseñado con SASS.
            </p>
            <button class="classicbtn"> Ver Proyecto </button>
        </div>
    </article>

</section>

<section class="cntainer">
    <header class="tech">
        <img src="assets/imgs/decorations/window_tech.png" alt="Decoración">
        <h1>Tecnologías </h1>
    </header>

    <div class="container-skills">
        <section class="tech-skills">
            <figure>
                <img src="assets/imgs/skills/tech_js.png" alt="Javascript">
            </figure>

            <figure>
                <img src="assets/imgs/skills/tech_ts.png" alt="Typescript">
            </figure>

            <figure>
                <img src="assets/imgs/skills/tech_ang.png" alt="Angular">
            </figure>
        </section>

        <section class="tech-skills">
            <figure>
                <img src="assets/imgs/skills/tech_css.png" alt="CSS3">
            </figure>

            <figure>
                <img src="assets/imgs/skills/tech_bs.png" alt="Bootstrap">
            </figure>

            <figure>
                <img src="assets/imgs/skills/tech_sass.png" alt="SASS">
            </figure>
        </section>

        <section class="tech-skills">
            <figure>
                <img src="assets/imgs/skills/tech_html.png" alt="HTML5">
            </figure>

            <figure>
                <img src="assets/imgs/skills/tech_git.png" alt="Git/Github">
            </figure>

            <figure>
                <img src="assets/imgs/skills/tech_mysql.png" alt="MySQL">
            </figure>
        </section>

        <section class="tech-skills">
            <figure>
                <img src="assets/imgs/skills/tech_docker.png" alt="Docker">
            </figure>

            <figure>
                <img src="assets/imgs/skills/tech_bs.png" alt="Bootstrap">
            </figure>

            <figure>
                <img src="assets/imgs/skills/tech_sass.png" alt="SASS">
            </figure>
        </section>

        <section class="tech-skills">
            <figure>
                <img src="assets/imgs/skills/tech_figma.png" alt="Figma">
            </figure>

            <figure>
                <img src="assets/imgs/skills/tech_ps.png" alt="Photoshop">
            </figure>

            <figure>
                <img src="assets/imgs/skills/tech_ai.png" alt="Illustrator">
            </figure>
        </section>
    </div>

</section>